.primary-text {
  margin: 0px 80px 0px 80px;
  text-align: justify;
  font-size: 18px;
  line-height: 2.3em;
}

.next-to-photo-text {
  text-align: justify;
  font-size: 18px;
  line-height: 2.3em;
}
