
/*
#members {
  margin: 80px 0px 0px 40px;
  .photo-us {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    padding-right: 60px;
  }
}
*/

.photo-us {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -180px;
  height: 450px;
  @media screen and (min-width:1200px) {
    width: 100%;
  }
}

.about-us-text {
  margin: 10px auto 20px auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1200px;
}

.facebook-logo-about-us {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  &:hover {
    width: 34px;
    height: 34px;
  }
}

.instagram-logo-about-us {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  &:hover {
    width: 34px;
    height: 34px;
  }
}

