
/*
#members {
  margin: 80px 0px 0px 40px;
  .photo-us {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    padding-right: 60px;
  }
}
*/

.photo-us {
  margin-top: 100px;
  margin-bottom: 40px;
  max-height: 450px;
  width: 100%;

  .photo-of-us {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
}

.about-us-text {
  margin: 10px auto 20px auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1200px;
}

.partner {
  margin: 10px auto 20px auto;
  padding-left: 17px;
  padding-right: 40px;
  padding-bottom: 40px;
  max-width: 1200px;
}

.facebook-logo-about-us {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  &:hover {
    width: 34px;
    height: 34px;
  }
}

.instagram-logo-about-us {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  &:hover {
    width: 34px;
    height: 34px;
  }
}

