html, body {
  height: 100%;
  background-color: #fff;
  font-family: $text-font;
  font-weight: 300;
  line-height: 1.5em;
}


#wrapper {
  background-image: image-url("classroom.jpg");
  opacity: 0.9;
  background-size: cover;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
  padding-top: 70px;
  h1 {
    display: inline-block;;
    margin-bottom: 30px;
    opacity: 1;
    color: black;
    font-family: $title-font;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 15px;
  }
  .arrow {
  }
}


h2 {
  font-family: $title-font;
  font-size: 75px;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

h4 {
  font-family: bold;
  font-family: "aleo-regular";
  font-size: 28px;
  text-align: center;
  padding-bottom: 1em;
}

.feature {
  text-align: center;
  font-family: $text-font;
  font-size: 22px;
}

.feature img {
    margin: 2em 0em 2em 0em;
}

#issue {
    margin-top: 50px;
    height: auto;
    min-height: 100%;
}

#action {
  height: auto;
  min-height: 100%;
  font-size: 20px;
  li {
    padding-bottom: 1em;
  }
  img {
    text-align: center;
  }
}

#donation {
  margin: 30px 0px 50px 0px;
  a {
    padding: 30px;
    font-size: 40px;
  }
}
