html, body {
  height: 100%;
  background-color: #edefed;
  font-family: $text-font;
  font-weight: 300;
  line-height: 1.5em;
}


#wrapper {
  background-image: image-url("girl-reading-2.png");
  opacity: 1;
  background-size: cover;
  height: 600px;
  padding-top: 70px;
  .arrow {
    position: relative;
    width: 100px;
    color: black;
    margin-left: -50px;
    left: 50%;
    bottom: -240px;
    text-align: center;
    font-size: 80px;
  }
  .writings {
    float: right;
    h1 {
      margin-bottom: 30px;
      opacity: 1;
      color: white;
      font-family: $title-font;
      letter-spacing: 15px;
      font-size: 80px;
    }
    .button a {
      position: relative;
      font-style: sans-serif;
      font-weight: bold;
      margin-top: 15px;
      padding: 18px;
      font-size: 13px;
      background-color: transparent;
      border: 1px solid #fff;
      text-transform: uppercase;
      border-radius: 0.2;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: white;
        color: #424242;
        transition-property: opacity;
        -webkit-transition-property: opacity;
        transition-duration: 1s;
        -webkit-transition-duration: 1s;
        transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-delay: initial;
        -webkit-transition-delay: initial;
      }
    }
  }
}


h2 {
  font-family: $title-font;
  font-size: 75px;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

h4 {
  font-family: bold;
  font-family: "aleo-regular";
  font-size: 28px;
  text-align: center;
  padding-bottom: 1em;
  line-height: 4em;
}

.feature {
  text-align: center;
  font-family: $text-font;
  font-size: 26px;
}

.feature img {
    margin: 2em 0em 2em 0em;
}

.box {
  margin: 50px 80px 50px 80px;
  padding: 30px;
  background-color: #eee;
  border-radius: 1;
  max-width: 1200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#issue {
    padding-top: 35px;
    height: auto;
    min-height: 80%;
    line-height:2.5em;
}

#action {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3…9IjAuNSIgZmlsbD0ibm9uZSIgd2lkdGg9Ijk3MCIgaGVpZ2h0PSIxMS40ODEiLz48L3N2Zz4=");
  height: auto;
  min-height: 80%;
  font-size: 20px;
  h2 {
    padding-bottom: 1em;
  }
  .action-text {
    margin-left: 0px;
  }
  li {
    padding-bottom: 1em;
  }
  img {
    margin-bottom: 40px;
    text-align: center;
    max-width: 95%;
    width: auto;
  }
}

#us {
  p {
    text-align: center;
    font-family: $text-font;
    font-size: 20px;
    line-height: 2em;
  }
  img {
    height: 300px;
  }
}

.space {
  height: 100px;
}
