html, body {
  height: 100%;
  background-color: #fff;
  font-family: $text-font;
  font-weight: 300;
  line-height: 1.5em;
}


#wrapper {
  background-image: image-url("classroom.jpg");
  opacity: 0.9;
  background-size: cover;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  text-align: center;
  padding-top: 70px;
  h1 {
    display: inline-block;;
    margin-bottom: 30px;
    opacity: 1;
    color: black;
    font-family: $title-font;
    font-weight: bold;
    letter-spacing: 15px;
    font-size: 100px;;
  }
  a {
    margin-top: 15px;
    padding: 15px;
    font-size: 24px;
  }
  .arrow {
    position: absolute;
    width: 100px;
    margin-left: -50px;
    bottom: 15px;
    left: 50%;
    text-align: center;
    font-size: 60px;
  }
}


h2 {
  font-family: $title-font;
  font-size: 75px;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

h4 {
  font-family: bold;
  font-family: "aleo-regular";
  font-size: 28px;
  text-align: center;
  padding-bottom: 1em;
}

.feature {
  text-align: center;
  font-family: $text-font;
  font-size: 26px;
}

.feature img {
    margin: 2em 0em 2em 0em;
}

#issue {
    padding-top: 35px;
    height: auto;
    min-height: 80%;
}

#action {
  height: auto;
  min-height: 80%;
  font-size: 20px;
  h2 {
    padding-bottom: 1em;
  }
  li {
    padding-bottom: 1em;
  }
  img {
    text-align: center;
  }
}

#us {
  p {
    text-align: center;
  }
  img {
    height: 300px;
  }
}

.space {
  height: 100px;
}
