.press {
  h2 {
    margin-top: 90px;
  }
  h3 {
    margin-top: 20px;
    text-align: left;
  }
  .article_presse {
    margin: 20px 20px 15px -20px;
    
    .article_courrieryvelines2018 {
      width: 1175px;
      height: auto;
    }
    a {
      margin-bottom: 20px;
    }
    .article_courrieryvelines2016 {
      width: 1175px;
      height: auto;
    }
  }

}
