---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div class="jumbotron">
    <div class="row">
      <div class="text-center col-sm-6">
        <h1 id="believe">We believe </h1>
      </div>
      <div class="text-center col-sm-6">
        <h1 id="progress">in progress !</h1>
      </div>
    </div>

  </div>


<div class= "text">
  <p>Notre projet cette année est divisé en deux parties: Une portant sur la cataracte et l'autre portant sur la réfraction</p>
</div>


<!-- Onglets-->
  <div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Cataracte</a></li>
        <li><a href="#tab2">Réfraction</a></li>
    </ul>

    <div class="tab-content primary-text">
        <div id="tab1" class="tab active">
    
            <h2>Le problème</h2>
            <p>
              Aujourd’hui, la cataracte est la première cause de cécité dans le monde. Cette pathologie, se caractérisant par l’opacification du cristallin (lentille situé derrière la pupille permettant comme l’objectif d’un appareil photographique de faire la mise au point), empêche les rayons de parvenir jusqu’à la rétine. Cela brouille la vision de l’individu l’empêchant peu à peu d’effectuer des tâches quotidiennes jusqu’à la cécité. Bien que cette pathologie soit curable suite à une chirurgie, l’accès à ce type de soins est souvent très limité, d’autant plus que traiter cette pathologie est souvent complètement hors de prix. C’est une pathologie extrêmement handicapante puisqu’elle empêche de travailler et immobilise peu à peu la vie de l’individu touché.
            </p>

            <h2>Ce que nous proposons</h2>
            <p>
              Ce projet de Kassiopé vise à apporter les infrastructures nécessaires à la chirurgie de la cataracte, afin d’offrir aux personnes sujettes à cette pathologie une possibilité d’émancipation professionnelle et sociale
            </p>

            <h2>Le Projet</h2>
            <p>
              Nous projetons de faire venir deux optométristes Français à Ahmedabad en Inde afin d’effectuer un dépistage de cataractes dans les communautés associées à Manav Sadhna. Suite à ce dépistage deux ophtalmologues viendront dans le cadre d’une formation à la chirurgie de la cataracte opérer dans le Lotus Eye Clinic sous la tutelle du chirurgien ophtalmologue Dr.Shah. Nous projetons d’effectuer entre 50 et 100 chirurgies. Le prix de la formation permettra de soutenir financièrement notre projet dans le temps afin de créer un projet le plus durable possible.
            </p>
          
        </div>

        <div id="tab2" class="tab">

              <h2>Le problème</h2>
              <p>
                Aujourd'hui, se procurer des lunettes est impossible pour des millions de personnes. Selon l'Organisation Mondiale de la Santé, 158 millions de personnes souffrent de déficience de la vision de loin et 544 millions de personnes souffrent de déficience de la vision de près due à un trouble de la réfraction en 2007. Cela fait des problèmes de réfraction la première cause de pathologie visuelle dans le monde. Des problèmes de vision entrainent des conséquences non-négligeables au quotidien : les opportunités d'un malvoyant diminuent avec sa capacité visuelle et l'OMS prévoit qu'en 2030, les erreurs de réfraction feront parties des 10 premières maladies affectant le plus gravement la productivité et le quotidien d’une personne.
              </p>

              <h2>Ce que nous proposons</h2>
              <p>
                Ce projet de Kassiopé vise à apporter des moyens technologiques modernes à Ahmedabad (Gujarat) en Inde afin d'offrir aux enfants malvoyant une possibilité d'émancipation professionnelle et sociale.
              </p>

              <h2>Le Projet</h2>
              <p>
                Suite à une formation en optométrie que nous aurons suivis au préalable en France, nous irons à Ahmedabad en Août afin d’effectuer nos premiers tests d’acuité visuel. Nous avons pour objectif d’effectuer les test d’acuité visuel dans 3 ou 4 écoles situés dans les bidonvilles de Ahmedabad. Puis, nous conduirons les élèves concernés au Lotus Eye Clinic afin d’obtenir des préscriptions d’un professionnel ainsi que des lunettes adapter à chaque élève.
              </p>
          
        </div>

      </div>
    </div>
</div>




<!-- Ancien text!!
  <div class="issue-text primary-text">
    <h2>Le problème</h2>
    <p>
      Aujourd'hui, se procurer des lunettes est impossible pour des millions de personnes. Selon l'Organisation Mondiale de la Santé, plus d'un
      milliard d'individus souffrent d'erreur de réfraction, ce qui en fait la première cause de pathologie visuelle dans le monde.
      Cependant, des problèmes de vision entrainent des conséquences non-négligeables au quotidien : les opportunités d'un malvoyant diminuent
      avec sa capacité visuelle et l'OMS prévoit qu'en 2030, les erreurs de réfraction fassent parties des 10 premières maladies affectant le plus gravement
      la productivité et le quotidien de la personne.
    </p>

    <h2>Ce que nous proposons</h2>
    <p>
      Le projet Kassiopé vise à déployer des moyens technologiques modernes à Ahmedabad (Gujarat) en Inde afin d'offrir aux enfants malvoyant
      une possibilité d'émancipation professionnelle et sociale.
    </p>
    <h2>Un temps de préparation pendant lequel nous avons </h2>
    <ul>
      <li>Réalisé des stages chez Le Visiologiste pour apprendre une démarche professionnelle d'optométrie</li>
      <li>Obtenu des réfractomètres automatiques afin d'augmenter considérablement notre productivité ainsi que les précisions de nos résultats</li>
      <li>Contacté des opticiens professionnels sur place pour les cas de pathologies plus complexes</li>
      <li>Récolté des fonds pour l'achat des verres</li>
    </ul>
  </div>
-->


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77432133-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
