---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div class="photo-us">
      <%= image_tag "nous.jpg", class:"photo-of-us", alt:"Photo de notre équipe" %>
    </div>

    <div class="about-us-text primary-text">
      <h2>Qui sommes-nous</h2>
      <p>
        Kassiopé est une association à but non lucratif dont l'objectif est d’offrir des soins pour les populations les plus défavorisées. Cette association a été créée en juin 2015 et menées par un groupe de quatre lycéens français étudiant tous Saint-Germain-en-Laye. Mais Kassiopé c’est aujourd’hui avant tout un réseau d’amis qui prend des initiatives et ajoute sa pierre aux projets que nous menons.
      </p>
      <h2>Notre objectif</h2>
      <p>
        Le but premier de nos projets est d’améliorer le train de vie des plus démunis. Toutefois, nous avons décidé d’exporter notre projet en dehors de la France. Deux d’entre-nous étant déjà partis en Inde suite à un échange avec notre lycée, nous avons imaginé notre projet à Ahmedabad où l’on pourrait offrir de multiples services liés à la santé de l’oeil aux populations des bidonvilles, et plus particulièrement à la communauté attachée à Manav Sadhna. Ayant enseigné dans des écoles près de l’Ashram de Gandhi nous souhaitons que nos projets s’effectuent dans ce type de communauté toujours dans le but de lutter contre l'illetrisme et toute forme de marginalisation sociale liée à la santé. 
      On ne changera probablement pas le monde, mais essayer, c’est un super projet.
      </p>
      <h2>Contactez-nous</h2>
      <p>Suivez notre aventure:</p>
      <p>- sur facebook:<a target="_blank" href="https://www.facebook.com/kassiopeproject/">
            <%= image_tag "facebook-logo.png", class: "facebook-logo-about-us img-circle" %> </a> 
      </p>
      <p>- sur instagram: <a target="_blank" href="https://www.instagram.com/kassiope/">
            <%= image_tag "instagram-logo.png", class: "instagram-logo-about-us img-circle" %> </a> 
      </p>
      <p>
        Si vous avez une question ou necessitez une information supplémentaire, envoyez-nous un mail à :  <a href="mailto:matthew.morvan@gmail.com" target="_top">matthew.morvan@gmail.com</a>
      </p>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77432133-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
