---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>

<body>

  <div class="press primary-text">

    <h2>Articles parus dans la presse à propos de Kassiopé</h2>
    <h3>Projet 2018:</h3>
    <p>Paru dans Le Journal de Saint-Germain le 2 février 2018</p>
    <div class="article_presse">
      <%= image_tag "article_journalstgermain2018.jpg", class:"article_journalstgermain2018" %>
    </div>
    <a href="https://www.saintgermainenlaye.fr/617/journal-de-saint-germain.htm" target="_blank">Lien article en ligne (Numéro 721)</a>
    
    <br><br>
    <p>Paru dans Le Courrier des Yvelines le 18 janvier 2018</p>
    <div class="article_presse">
      <%= image_tag "article_courrieryvelines2018.jpg", class:"article_courrieryvelines2018" %>
    </div>
    <a href="https://actu.fr/ile-de-france/saint-germain-en-laye_78551/un-projet-humanitaire-saint-germain-laye-veut-redonner-vue-indiens_15070888.html" target="_blank">Lien article en ligne</a>

    <br><br>
    <h3>Projet 2016:</h3>
    <p>Paru dans le Courrier des Yvelines en Avril 2016</p>
    <div class="article_presse">
      <%= image_tag "article_courrieryvelines2016.jpg", class:"article_courrieryvelines2016" %>
    </div>

  </div>

<!--
  <div class="partner primary-text">
    <h3>Un grand merci à tous nos partenaires</h3>
    <ul>
      <li>La Section Américaine :</li>
      <ul>
        <li>Pour avoir inspiré ce projet à travers l’échange entre MGIS et la Section Américaine du Lycée international</li>
        <li>Pour avoir lancé le projet avec les 1500€ du “Global Citizen Award”</li>
      </ul>
      <li>Manav Sadhna : </li>
      <ul>
        <li>Pour l'accueil enthousiaste de notre projet dans leur communauté.</li>
        <li>Pour nous aider à maintenir ce projet à long terme.</li>
      </ul>
      <li>MXOphtalmic : </li>
      <ul>
        <li>Pour avoir fait des dons de lunettes</li>
        <li>Pour avoir fait le don d’un autoréfractomètre</li>
      </ul>
      <li>Le Visiologiste :</li>
      <ul>
        <li>Pour nous avoir proposé des stages d’entraînements aux tests d’acuité visuelle</li>
      </ul>
      <li>The Ahmedabad Eye Laser Hospital :</li>
      <ul>
        <li>Pour la supervision de notre projet à Ahmedabad</li>
      </ul>
      <li>Brian Ball :</li>
      <ul>
        <li>Qui nous a aidé à lancer le projet.</li>
      </ul>
      <li>Dr.Prema du Lotus Eye Clinic :</li>
      <ul>
        <li>Pour ses conseils et son soutien au projet.</li>
      </ul>
      <li>Au support inestimable de nos parents !</li>
      <li>A tous ceux qui ont soutenu et donné du temps pour ce projet!</li>
      <li>On ne pourrait pas y arriver sans vous !</li>
    </ul>
   </div>
    <!--  <li>Merci à Manav Sadhna, qui, à travers la pratique des apprentissages de Gandhi, a depuis 20 ans aidé les communautés les plus démunies à se reconstruire à s'émanciper de la pauvreté. L'association Manav Sadhna est prête à héberger notre clinique </li>
      <li>Le Visiologiste est une fondation française qui nous a aidé dans l'apprentissage des tests visuels. Nous les remercions pour leur expertise et leur accueil chaleureux</li>
      <li>MX Ophtalmic nous a fourni un autoréfractomètre au prix le plus bas du marché. Cet appareil nous permettra de démultiplier le nombre de patients</li>
      <li>La section américaine du Lycée Intrnationale de Saint-Germain-en-Laye a fortement participé au lancement de l'association Kassiopé grâce à un don de 1500 €.
      Elle a également maintenu l'échange avec le MGIS.</li> -->


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77432133-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
