---
title: Kassiopé Project
---

<%= stylesheet_link_tag "all" %>
<head>
  <meta charset="utf-8">
</head>

<body>
  <div class="partner primary-text">
    <ul>
      <li>Thank you to <b>Manav Sadhna</b>, Who through the practice of the Ghandiji’s teachings has for the past 20 years helped the marginalized communities slowly recover and emancipate theirselves from their poverty. They are getting ready to host our clinic
      </li>
      <li><b>Le Visiologiste</b> is a French foundation who helped train us for our trip</li>
      <li><b>MX Ophtalmic</b>, bought our auto-refractor for the cheapest price on the market</li>
    </ul>
  </div>
</body>
