---
title: About us
---
<%= stylesheet_link_tag "site" %>

<img src="http://placehold.it/800x300" alt="group-photo" style="text-align:center"/>

    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h3>Who are we ?</h3>
          <p>
            Kassiopé is a non-lucrative association aimed at offering free eye care to the most disabled.
            It was created in June of 2015 by a group of six french students, all of whom study at the Lycée International of St.Germain en Laye.
            Its primary goal is to unearth diabetic retinopathy in regions lacking with eye doctors, as in France the number of ophthalmologists has immensely decreased in the past few years.
            However, supported by batch of three new members we have decided to export our project outside of France.
            Two of us, having already been to India, imagined our project in Ahmedabad where we would offer free eye tests and glasses to the people of the slums, particularly to the people related to Manav Sadhna.
            Two of us have already taught in one of the schools near the Gandhi Ashram and wish for our first eye tests to be in these types of schools where reading facilities are most needed.
            We hope to bolster our project to the entire slum but our eye tests can only expand as far as our stocks of glasses will increase. Kassiopé is associated to two companies (LeVisologiste and MXOphtalmic) who can offer cheap(er) equipment, supervise our projects and most importantly, make us look credible and trustworthy to future professional partners.
          </p>

          <h3>Our motivations</h3>
          <p>
            This project is about helping others by improving the living conditions for the poorest starting with health and education.
            We’ve all grown up in a place  where almost everyone gets access to a good education, because all the factors required for a child to recieve a proper education are present in the environment we live in: a home, parents who can pay school, books… These are factors, which unfortunately, not all societies can pay for.
            We do not notice simple health problems anymore, they’re so easily handled in our society. When our vision is dispaired, ophtalmologists are always at hand to treat our problems. It’s know that young men just like us dream for the same opportunities, knowing that one can not get an education or work because of his bad eyesight that made us determined to change this reality. Of course it is a low scale first step. But if a small step can help children read and write, if a small step can help a man get back his job, then it’s a step worth taking.
            Furthermore, this project will also allow us to learn how to work in a professional environment, something essential for our futures.
            Self improvement and challenge are our key words. In fact we all look forward towards integrating great schools. We wanted to show ourselves that not only we could work for excellent transcripts and prepare admissions’ tests but we could also still bring change while working for school. In fact the interesting part is on realizing that the more you bring change to the outside the more your experiences affect you on the inside.
            Finally, our goal is also working on a motivating, innovative project with close friends.
          </p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
